body {
	background-color: #fff;
	color: #333;
	font-family: monospace;
	font-size: 9pt;
	margin: 0;
	/*overflow: hidden;*/
	padding: 0;
}
h2 {
	font-size: 14pt;
	margin: 0.5em 0;
}
#sidebar ul, #sidebar ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#sidebar li:not(.n) { display: none; }
#sidebar { background-color: inherit; }
#sidebar a { padding: 5px 3px 5px 10px; }
#sidebar a { display: block; }
#sidebar a, #items h2 a { color: inherit; }
#items { padding: 0 15px; }
body.noframe div#sidebar { overflow: auto; }
body.noframe div#items { overflow: auto; }
body.noframe div#items.nosidebar { left: 0px; }
body.frame { overflow: auto; }
body.frame #sidebar br { display: none; }
@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #bdbdbd;
	}
	a { color: #56c8ff; }
}

/* Positioning the sections */

body {
  display: grid;
  grid-template-areas: "random" "sidebar" "items";
}

#random {
  grid-area: random;
  margin: auto;
  width: max-content;
}

#sidebar { grid-area: sidebar; }

#items { grid-area: items; }

/* Make text wrap (mostly on mobile) */
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 max-width: 100vh;
}
